.navbar-cart{
    position:relative;
    margin-right: 1rem;
}


.navbar{
    padding:1rem;
    display:flex;
    justify-content: space-between;
    border-radius: 1px solid;
}

.cart{
    display: none;
}
.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: absolute;
    background-color:white;
    
    border:1px solid;
    right: 0px;
    top:142px;
    min-width: 40%;
}
.app-carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    position: relative;
    background-color:white;
}
.conteiner-title{
    margin-bottom: 1.5rem;
    justify-content: center;
}
.conteiner-productos{
   display:flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}

.producto{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items:center;
    border:0.1px solid;
    padding: 1rem;
    margin:0.5rem; 
}

.producto-imagen{
    flex-basis: 40%;
    align-items: center;
}
.producto-header{
    flex-basis: 20%;
    align-items: center;
}

.producto-body{
    flex-basis: 20%;
    align-items: center;
}

.producto-footer{
    flex-basis: 20%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
::ng-deep{
    .ngx-pagination{
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .ngx-pagination li{
        width: 35px;
        height: 35px;
        border-radius:50% !important;
        background: #f8f8f8;
        display: flex;
        justify-content: center;
        align-items:center;

    }
}

.col-sm-4 {
    width: 30%;
  }