<nav class="navbar navbar-expand-lg " style="background-color: #648E3A;">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.jpg" height="100" style="margin-left: 20px;">
    </a>
   
        <div  class="mr-auto">
            <div class="d-flex align-items-center">
                <a href="/home" class="btn  btn-outline-dark me-3"  >Inicio</a>
            </div>
        </div>
        <div  class="ms-auto">
            <div class="d-flex align-items-center">
                <a href="/registro" class="btn  btn-outline-dark me-3" >Registarse</a>
            </div>
        </div>
    
</nav>


<br><br><br>
<h2 class="text-center">Iniciar sesion</h2>
<br>
<div class="container">
    <div class="text-center">
<div class="card border-success mx-auto d-block" style="width:500px; height: auto">
        <br>
                    <form (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm">
                        <div *ngIf="userForm"> 
                        <div class="form-group row justify-content-center align-items-center">
                                <label for="email" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-4">
                                    <input type="email" class="form-control" id="email" required
                                ngModel name="email">
                                 </div>
                                 <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" class="text-danger">
                                    Se requiere el campo
                                </div>
                        </div><br>

                        <div class="form-group row justify-content-center align-items-center">
                            <label for="password" class="col-sm-3 col-form-label">Contraseña</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="password" required
                                ngModel   name="password">
                            </div>
                            <div *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched" class="text-danger">
                                Se requiere el campo
                            </div>
                        </div>
                <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success"
                            [disabled]="!userForm.form.valid">Iniciar sesion</button>
                        </div>
                        <br>
                        </div>
                  </form>      
                  
                </div>
                
            </div>
            <br><br>
</div>


