<nav class="navbar navbar-expand-lg " style="background-color: #648E3A;">
    <a class="navbar-brand" href="ppalAdmin">
        <img src="assets/logo.jpg" height="100" style="margin-left: 20px;">
    </a>
    <div  class=" mr-auto">
        <div class="d-flex align-items-center">
            <a href="/ppalAdmin" class="btn  btn-outline-dark me-3" >Inicio</a>
        </div>
    </div>
    <div  class="ms-auto" style="margin-right: 1rem;">
        <div class="d-flex align-items-center">
            <button type="submit" class="btn  btn-outline-dark me-3" style="margin-right: 1rem;" (click)="cerrarSesion()">Cerrar sesion</button>
        </div>
    </div>
    
</nav>
<br><br>

<button type="button" class="btn btn-success" style="margin-left: 20px;"  (click)="openModalUser()">Agregar</button>

<div class="container" >
    <h3 class="font-weight-bold text-center">Lista de Usuarios</h3><br>
    <div class="table-responsive">
    <table class="table table-dark table-striped table table-fixed">
        <thead>
          <tr>
            <th scope="col" style="text-align: center;">Nombre</th>
            <th scope="col" style="text-align: center;">Apellido</th>
            <th scope="col" style="text-align: center;">Telefono</th>
            <th scope="col" style="text-align: center;">Email</th>
            <th scope="col" style="text-align: center;">Rol</th>
            <th scope="col" style="text-align: center;">Estado</th>
            <th scope="col" style="text-align: center;"></th>
            <th scope="col" style="text-align: center;"></th>
          </tr>
        </thead>
        <tbody>
                    <tr *ngFor="let user of usuarios">
                        <td style="text-align: center;">{{user.nombre}}</td>
                        <td style="text-align: center;">{{user.apellido}}</td>
                        <td style="text-align: center;">{{user.telefono}}</td>
                        <td style="text-align: center;">{{user.email}}</td>
                        <td style="text-align: center;">{{user.rol}}</td>
                        <td style="text-align: center;">{{user.estado}}</td>
                        <td style="text-align: center;" *ngIf="user.estado==='SUSPENDIDO'"> <button type="button" class="btn btn-success" (click)="activarDesactivar(user)">Activar</button></td>
                        <td style="text-align: center;" *ngIf="user.estado==='ACTIVO'"> <button type="button" class="btn btn-danger" (click)="activarDesactivar(user)">Desactivar</button></td>
                        <td style="text-align: center;" *ngIf="user.rol==='USUARIO'"> <button type="button" class="btn btn-primary" (click)="usuarioAdmin(user)">Administrador</button></td>
                        <td style="text-align: center;" *ngIf="user.rol==='ADMINISTRADOR'"> <button type="button" class="btn btn-primary" (click)="usuarioAdmin(user)">Usuario</button></td>
                    </tr>
        </tbody>
      </table>
    </div>
</div>
<p style="text-align:center">
    <a href="/ppalAdmin" class="btn  btn-success text-center justify-content-center">Volver</a>
    </p>
    <br><br><br>
<!--Modales-->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':userDisplay}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-success text-center">Agregar usuario</h4>
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandledUser()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm">
                    
                        <div class="form-group row justify-content-center align-items-center">
                            <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="nombre"
                                required
                                ngModel name="nombre">
                            </div>
                        </div><br>
                        <div class="form-group row justify-content-center align-items-center">
                            <label for="apellido" class="col-sm-3 col-form-label">Apellido</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="apedllido" required
                                ngModel name="apellido">
                            </div>
                        </div><br>
                        <div class="form-group row justify-content-center align-items-center">
                                <label for="email" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-4">
                                    <input type="email" class="form-control" id="email" required
                                ngModel name="email">
                                 </div>
                        </div><br>
                        <div class="form-group row justify-content-center align-items-center">
                                <label for="direccion" class="col-sm-3 col-form-label">Direccion</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="direccion" required
                                ngModel name="direccion">
                                </div>
                        </div><br>
                        <div class="form-group row justify-content-center align-items-center">
                            <label for="telefono" class="col-sm-3 col-form-label">Telefono</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="telefono" required
                                ngModel name="telefono">
                            </div>
                        </div><br>

                        <div class="form-group row justify-content-center align-items-center">
                            <label for="password" class="col-sm-3 col-form-label">Contraseña</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="password" required
                                ngModel   name="password">
                            </div>
                        </div>
                        <br>
                        <div class="form-group row justify-content-center align-items-center">
                            <label for="opcion" class="col-sm-3 col-form-label">Rol:</label>
                            <select id="opcion" name="opcion" class="form-control col-sm-5 custom-select" [(ngModel)]="rolSeleccionado"  required>
                              <option [ngValue]="opcion.valor" *ngFor="let opcion of rolUser">{{ opcion.texto }}</option>
                            </select>
                        </div>
                        
                        <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success"
                        [disabled]="!userForm.form.valid">Registrar</button>
                    </div>
                  </form> 
                </div>
                
        </div>
        </div>
</div>